.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* phone screen */
@media (min-width:320px)  {
    .title{
        height: 10em;
        padding-top: 4em;
        margin-bottom: 0.1em;
    }
    .title em{
        font-size: 1em;
        align-items: center;
    }
    .img_cat_local{
        background: black url(../../../public/img/cat_local.jpg) center center no-repeat;
        background-size: cover;
    }
    .img_cat_asia{
        background: black url(../../../public/img/cat_asia.jpg) center center no-repeat;
        background-size: cover;
    }
    .img_cat_global{
        background: black url(../../../public/img/cat_global.jpg) center center no-repeat;
        background-size: cover;
    }
    .img_cat_girls{
        background: black url(../../../public/img/cat_girls.jpg) center center no-repeat;
        background-size: cover;
    }
}

/* desktop screen */
@media only screen and (min-width: 768px) {
    .title{
        height: 30em;
        margin-bottom: 5em;
    }
    .title em{
        padding-bottom: 1.6em;
        font-size: 2.5em;
        align-items: flex-end;
    }
    .img_cat_local{
        background: black url(../../../public/img/cat_local.jpg) center center no-repeat fixed;
        background-size: cover;
        background-position: -105px -120px;
    }
    .img_cat_asia{
        background: black url(../../../public/img/cat_asia.jpg) center center no-repeat fixed;
        background-size: cover;
        background-position: -105px -120px;
    }
    .img_cat_global{
        background: black url(../../../public/img/cat_global.jpg) center center no-repeat fixed;
        background-size: cover;
        background-position: -105px -120px;
    }
    .img_cat_girls{
        background: black url(../../../public/img/cat_girls.jpg) center center no-repeat fixed;
        background-size: cover;
        background-position: -350px -100px;
    }
}
.title_img{
    height: 100%;
    width: 100%;
}

.title em{
    font-family: "Droid Serif","Times New Roman",serif;
    text-align: center;
    color: white;
    display: flex;
    justify-content:center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}
