/* phone screen */
@media (min-width:320px)  {
    .row{
        margin-left: 0px;
        margin-right: 0px;
    }
    .imageContent{
        padding-top: 4em;
    }
    .equal{
        display: none;
    }
    .img_col{
        padding-left: 0px;
        padding-right: 0px;
    }
    .user_col{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: white;
        border-bottom: 1px solid lightgrey;
    }
    .likes_col{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: white;
    }
    .comments_col{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: white;
    }
}


/* desktop screen */
@media only screen and (min-width: 768px) {
    .mobileImageContent{
        display: none;
    }
    .imageContent{
        padding: 100px 30px 30px 30px;
    }
    .equal {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid lightgrey;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      background-color: white;
    }
}




.leftBox{
    padding: 0px;
}

.rightBox{
    padding: 20px 30px 20px 30px;
}

.username{
    padding-left: 10px;
}

.name{
    color: black;
    padding-right: .5em;
    font-size: 14px;
}

.commentsBox{
    height: 25%;
}

.commentsBox li{
    padding-bottom: 5px;
}

#input_comment{
    border: 0px;
}

.caption{
    overflow: hidden;
}

.likesBox{
    margin-top: 1em;
    height: 43px;
}

.small_box{
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  position:absolute;
  width:100%;
  height: 200px;
}

.img_circle{
  width: 80px;
  height: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
  margin-top: -30px;
}

.small_box p{
  padding: 10px;
}

.large_box_row{
  margin-left: 10px;
}

.large_box{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width:100%;
  padding: 20px;
}

.img{
  width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
