.small_box{
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 5px;
  position:absolute;
  width:100%;
  height: 200px;
}

.img_circle{
  width: 80px;
  height: 80px;
	margin-left: auto;
	margin-right: auto;
	display: block;
  margin-top: -30px;
}

.small_box p{
  padding: 10px;
}

.large_box_row{
  margin-left: 10px;
}

.large_box{
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width:100%;
  padding: 20px;
}

.img{
  width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
