body {
  margin: 0;
  padding: 0;
  /*font-family: sans-serif;*/
  background: #ecf0f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2e2e2e;
  font-size: 16px;
}

.jumbotron{
    background: white;
}

.navbar{
  border-bottom: 1px solid #e6e6e6;
}
.navbar-inverse .navbar-nav > li > a{
  color: black;
}
.navbar-inverse .navbar-brand{
  color: #F9690E;
}
.btn-success:hover{
  color: white;
}
.btn-success{
  color: black;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
  color: #CA6924;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
  color: #CA6924;
}
.navbar-inverse{
  background-color: white;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color: white;
  color: black;
  border-bottom: solid #F9690E;
  border-bottom-width: 3px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #CA6924;
}

.btn-success{
  color: black;
  background-color: #F9690E;
  border-color: #F9690E;
}
.btn-success:hover{
  color: white;
  background-color: #CA6924;
  border-color: #CA6924;
}

.btn{
  border-width: 2px;
}

.btn-sm, .btn-group-sm > .btn{
  padding: 6px 9px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 3px;
}

.navbar{
  min-height: 60px;
}
.navbar-brand{
  line-height: 1;
  height: 60px;
  padding: 19.5px 15px;
  font-size: 19px;
}
.navbar-toggle{
  margin-top: 13px;
  margin-bottom: 13px;
}
.navbar-inverse .navbar-toggle{
  border-color: #CA6924;
}

@media (min-width: 1200px){
  .container{
    width: 1000px;
  }
}

@media (min-width:768px) {
  .navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    line-height: 21px;
  }
}